<%= form_for(@author) do |f| %>
  <label>Name: </label><br>
  <%= f.text_field :name %><br>

  <label>Genre: </label><br>
  <%= f.text_area :genre %><br>

  <label>Bio: </label><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>
